@{
    Layout = null;
}
<div class="row">
    <div class="col-lg-4 ">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default" href="@Url.Action("AddLink", "InoReader")"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Добавить ссылку</a>
            <a class="btn btn-default" href="@Url.Action("SubscribeRss", "InoReader")"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Подписаться</a>
        </div>
    </div>

    <div class="col-lg-4 col-lg-offset-4">
        @using (Html.BeginForm("SearchLinks", "InoReader", FormMethod.Get)){
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input class="form-control" name="itemId" type="text" size="40">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="searchBtn" type="submit">Поиск</button>
                </span>
            </div>
        </div>
        }
</div>
</div>