@model Domain.Models.PagedLinksModel

@{
    if (Model.ReaderLinks.Count != 0)
    {
        foreach (var link in Model.ReaderLinks)
        {
            @Html.Partial("_Link", link, new ViewDataDictionary { { "Order", Model.Order } })
        }
    }
    if (Model.ReaderLinks.Count != 0 && Model.TotalPages > 1)
        {
            @Html.Partial("_PaginationLinks", Model)
        }
    else if(Model.TotalPages == 0)
    {
        <p> По данному запросу ничего не найдено</p>
    }
}
