@model List<Domain.Models.RssNewsItemModel>

@{
    int totalPages = (int)ViewData["NewsTotalPages"];
    int currentPage = (int)ViewData["NewsCurrentPage"];
}

@if (Model.Count > 0 && totalPages >= 2)
{
    <div class="row">
        <div class="col-sm-12 text-right">
            <ul class="pagination">
                @if (currentPage == 0)
                {
                    <li class="btn previous disabled"><a class="btn">Назад</a></li>
                    <li>
                        <a class="btn next paginationRssNewsButton " id="@Url.Action("IndexRssNewsContent", "InoReader",
                                                            new { page = currentPage + 1 })">Далее</a>
                    </li>
                }
                else
                    if (currentPage == totalPages - 1)
                    {
                        <li>
                            <a class="btn previous paginationRssNewsButton " id="@Url.Action("IndexRssNewsContent", "InoReader",
                                                             new {page = totalPages - 2 })">Назад</a>
                        </li>

                        <li class="btn next disabled" ><a class="btn">Далее</a></li>
                    }
                    else
                    {
                        <li>
                            <a class="btn previous paginationRssNewsButton " id="@Url.Action("IndexRssNewsContent", "InoReader",
                                                             new {page = currentPage - 1 })">Назад</a>
                        </li>

                        <li>
                            <a class="btn next paginationRssNewsButton " id="@Url.Action("IndexRssNewsContent", "InoReader",
                                                             new { page = currentPage + 1 })">Далее</a>
                        </li>
                    }
            </ul>
        </div>
    </div>
}