@model Domain.Models.RssCanalModel
@{

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "result",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "Redirect"
    };
}

<div id="result">

    @using (Ajax.BeginForm("SubscribeRss", "InoReader", null, ajaxOpts, new { @class = "form-horizontal", @id = "loginForm" }))
    {


        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-group">
                @Html.TextBoxFor(x => x.Url, new { @class = "form-control wide-control ", @placeholder = "Введите ссылку на ресурс", @type = "text" })
                @Html.ValidationMessageFor(x => x.Url, null, new { @class = "label label-warning" })
                @Html.ValidationMessage("RssError", new { @class = "label label-danger" })
            </div>
            <div class="form-group text-right">
                <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                <button type="submit" value="create" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Подписаться</button>
            </div>
        </div>
        
        <script>
            function Redirect(data) {
                if (data.success) {
                    setTimeout('location.replace("' + data.redirectLink + '")');
                }
            };
        </script>
    }
</div>
