@model Domain.Models.IndexModel
<div class="row">
    <div class="col-sm-4">
        <h5 class="panel-title">
            Показать:
        </h5>
        @if (!Model.IsLinksEnabled)
        {
            <label class="checkbox-inline">
                <input type="checkbox" disabled="true">
                Ссылки
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" checked="checked" disabled="true">
                RSS
            </label>

        }
        else
        {
            <label class="checkbox-inline">
                <input type="checkbox" id="showLinks" checked="checked">
                Ссылки
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="showRss" checked="checked">
                RSS
            </label>
        }
    </div>

    @if (Model.IsLinksEnabled)
{
    <div id="linksRadioOrder" class="col-sm-5 col-sm-offset-3 text-right ">
        <h6 class="panel-title">
            Упорядочить:
        </h6>
        @if (Model.PagedLinks.Order)
        {
            <label class="radio-inline">
                <input class="indexOrderInput" type="radio" name="OrderRadio" id="orderFalse" value="true" checked="checked"> По дате добавления
            </label>
            <label class="radio-inline">
                <input class="indexOrderInput" type="radio" name="OrderRadio" id="orderTrue" value="false"> По названию
            </label>
        }
        else
        {
            <label class="radio-inline">
                <input class="orderInput" type="radio" name="OrderRadio" id="orderFalse" value="false"> По дате добавления
            </label>
            <label class="radio-inline">
                <input class="orderInput" type="radio" name="OrderRadio" id="orderTrue" value="true" checked="checked"> По названию
            </label>
        }
    </div>
}
</div>
@if (Model.IsLinksEnabled)
{
    <div id="linksToggle">
        <h3>Добавленные ссылки</h3>
        <div id="pagedContentContainer">
            @Html.Partial("_Links", Model.PagedLinks)
        </div>
    </div>

    <script>
        $(document).on('click', '.indexOrderInput', function (e) {
            $.get("/InoReader/@Model.PagedLinks.ActionName",
                  {
                      itemName: "@ViewBag.Title",
                      order: e.target.value,
                      page: 0,
                  },
                  AddPagedContent

              );
        });
    </script>
}


<div id="rssToggle">
    <h3>Последние RSS новости</h3>
    <div id="indexRss">
        @Html.Partial("_RssTodayNews", Model.News)
    </div>
</div>



